@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.nest-list ul {
    height: inherit;
    width: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
    border-radius: 4px;
    background-color: whitesmoke;
}

.nest-list ul li {
    padding: 0;
    width: 100%;
    height: auto;
}

.nest-list button{
    min-height: inherit;
    min-width: inherit;
    width: inherit;
    text-align: left;

}

.nest-list {
    float: left;
}
.sm-icon {
    font-size: smaller;
}